FreelanceClient/Connected Services/ProjectRequestAllotedRef/ProjectRequestAlloted.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProjectRequestAlloted" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55232/Services/ProjectRequestAlloted.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55232/Services/ProjectRequestAlloted.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55232/Services/ProjectRequestAlloted.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FreelanceService.ModelClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProjectRequestAlloted_AllotProjectRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AllotProjectRequest" />
  </wsdl:message>
  <wsdl:message name="IProjectRequestAlloted_AllotProjectRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllotProjectRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectRequestAlloted_RemoveAllottedRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAllottedRequest" />
  </wsdl:message>
  <wsdl:message name="IProjectRequestAlloted_RemoveAllottedRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAllottedRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IProjectRequestAlloted">
    <wsdl:operation name="AllotProjectRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectRequestAlloted/AllotProjectRequest" message="tns:IProjectRequestAlloted_AllotProjectRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectRequestAlloted/AllotProjectRequestResponse" message="tns:IProjectRequestAlloted_AllotProjectRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAllottedRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectRequestAlloted/RemoveAllottedRequest" message="tns:IProjectRequestAlloted_RemoveAllottedRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectRequestAlloted/RemoveAllottedRequestResponse" message="tns:IProjectRequestAlloted_RemoveAllottedRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProjectRequestAlloted" type="tns:IProjectRequestAlloted">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllotProjectRequest">
      <soap:operation soapAction="http://tempuri.org/IProjectRequestAlloted/AllotProjectRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllottedRequest">
      <soap:operation soapAction="http://tempuri.org/IProjectRequestAlloted/RemoveAllottedRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjectRequestAlloted">
    <wsdl:port name="BasicHttpBinding_IProjectRequestAlloted" binding="tns:BasicHttpBinding_IProjectRequestAlloted">
      <soap:address location="http://localhost:55232/Services/ProjectRequestAlloted.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>