FreelanceClient/Connected Services/ProjectRequestAllotedRef/ProjectRequestAlloted.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FreelanceService.ModelClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FreelanceService.ModelClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProjectAlloatted">
    <xs:sequence>
      <xs:element minOccurs="0" name="FreelancerId" type="xs:int" />
      <xs:element minOccurs="0" name="IsSubmitted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectAlloatted" nillable="true" type="tns:ProjectAlloatted" />
</xs:schema>