FreelanceClient/Connected Services/ProjectRequestServiceRef/ProjectRequestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FreelanceService.ModelClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FreelanceService.ModelClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProjectRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bid" type="xs:int" />
      <xs:element minOccurs="0" name="Deadline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FreelancerId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectRequest" nillable="true" type="tns:ProjectRequest" />
</xs:schema>